<!DOCTYPE HTML>

{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<br />
	<div style="margin: 20px" class="bcontainer">
		<h2>Login <span style="font-size: 0.5em; font-weight: normal">to Post</span></h2>
		<form class="card-body" method="POST">
			{% csrf_token %}
			{% bootstrap_form form %}
			
			<input type="submit" style="" class="btn btn-primary btn-block" name="" id="" value="LogIn" />
		
			<div class="" style="margin-top: 0.5em">
				Not Registered? <a class="" href="{% url 'accounts:signup' %}">Create an account</a>
			</div>
		</form>
		
	</div>
{% endblock %}