{% extends 'posts/post_base.html' %}
{% load static %}
{% block content %}
	{% block pre_post %}
	
	<section style="background-color: #eee;">
		<div class="container py-3">
	
		{% for post in object_list %}
			<div class="card">
			<div class="card-header" style="background:#FFDB58">
				
				<div class="d-flex">
					<div class="mr-auto">
						
						<!--User Header -->
						<a style="text-decoration:none" class="link-dark" href="{% url 'post:for_user' username=post.user.username %}">
						{% if post.user.profile.profile_image.url != '' %}
							<img src="{{ post.user.profile.profile_image.url }}" alt="avatar" class="rounded-circle shadow-4 img-fluid" style="object-fit:cover; width: 30px; height: 30px;"/>
						{% else %}
							<img src="{% static "images/default-avatar.png" %}" alt="avatar" class="rounded-circle shadow-4 img-fluid" style="object-fit:cover; width: 30px; height: 30px;"/>
							
							
						{% endif %}
						@{{ post.user.username }}
						</a>
						<small> in 
						
						{% if post.group.name %}
							<a style='color:red' href="{% url 'group:detail' slug=post.group.name|lower %}">{{ post.group.name }}</a>
						{% else %}
							<a style='color:red' href="">Open</a>
						{% endif %}
						</small>
					</div>
					{% if user.is_authenticated and post.user == user %}
						<div class="ml-auto">
							<a href="{% url 'posts:update' pk=post.pk %}">
								<i style="color: #212121" class="bi bi-pencil-square"></i>
							</a>
							<a href="{% url 'posts:delete' pk=post.pk %}">
								<i style="padding-left: 0.3em; color: #FF0000" class="bi bi-trash"></i>
							</a>
						</div>
					{% endif %}
				</div>
			</div>
			
			<!-- User Body -->
			<div class="card-body">
				<ul class="">
					<p class="lt-base">
						{{ post.message }}
					</p>
				</ul>
				<div class="d-flex">
					<div class="mr-auto">
						<footer class="blockquote-footer">
							{% if post.author != '' %}
								{{ post.author }}
							{% else %}
								Unknown
							{% endif %}
							<!-- {{ post.created_at }} -->
						</footer>
					</div>
					<div class="ml-auto">
						<footer class="">
							<!-- Eye Icon -™Views Count
							<p class="font-weight-light text-secondary" style="font-size:14px">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 18">
  							<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
  							<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
							</svg>
							3.6k</p>-->
								<a 
								style="padding: 0.5em; font-size: 0.4em; color: #25D366"
								id="share-wa"
								href="whatsapp://send?text={{ post.message }} — 
									{% if post.author != '' %}
										{{ post.author }}
									{% else %}
										Unknown
									{% endif %}"
										
								class="sharer button">
								<i class="fa fa-3x fa-whatsapp">
								</i>
							</a>
							<!--
							<a style="padding: 0.5em; font-size: 0.4em; color: #3b5998" href="" id="share-fb" class="sharer button"><i class="fa fa-3x fa-facebook-square"></i></a>
  						<a style="padding: 0.5em; font-size: 0.4em; color:#55acee;" href="#" id="share-tw" class="sharer button"><i class="fa fa-3x fa-twitter-square"></i></a>
							-->
							
						</footer>
					</div>
				</div>
			</div>
		</div>
		<br />
		{% endfor %}
	</div>
	</section>
	
	{% endblock %}
{% endblock %}


<!--
<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  							<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  							<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
						</svg>
-->