{% extends 'posts/post_base.html' %}
{% load static %}
	{% block content %}
		{% block preblock %}
		
			
<section style="background-color: #eee;">
  <div class="container py-4">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            {% if post_user.profile.profile_image.url != '' %}
            	<img src="{{ post_user.profile.profile_image.url }}" alt="avatar" class="rounded-circle shadow-4 img-fluid mb-4" style="object-fit: cover; width: 150px; height: 150px;">
            {% else %}
            	<img src="{% static "images/default-avatar.png" %}" alt="avatar" class="rounded-circle shadow-4 img-fluid mb-4" style="object-fit:cover; width: 150px; height: 150px;"/>
						{% endif %}
            <!--<h5 class="my-3">@{{ post_user.username }}</h5>-->
            <h5 class="mb-1">{{ post_user.first_name }} {{ post_user.last_name }}</h5>
            <p class="text-muted mb-4">{{ post_user.profile.role }}
            	<span class="badge bg-primary text-white">{{ post_user.profile.level }}</span>
            </p>
            <div class="d-flex justify-content-center mb-2">
            	
           	<!-- Edit Profile Button -->
           	{% if user.is_authenticated and post_user == user %}
              <button type="button" class="btn btn-outline-info ms-1">
              	<a style="text-decoration:none" href="{% url 'accounts:update' %}">
              		
              		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 20">
  									<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
									</svg>
									&nbsp;Edit Profile&nbsp;
								</a>
              </button>
             {% endif %}
    
    					<!-- Message Button -->
							{% if post_user != user %}
              <button id="message-btn" type="button" class="btn btn-primary">
              	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-dots-fill" viewBox="0 0 16 16">
  								<path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
								</svg>
              	&nbsp;Message&nbsp;
							</button><br />
							
							<!-- Alert Button -->
							<div id="MessageAlert" class="alert alert-success collapse">
  							<h4 class="alert-heading">Coming Soon...</h4>
  							<p>Messaging feature is coming soon. We are working on the full version of our new site and will be back shortly.</p>
							</div>
             	{% endif %}
             	
            </div>
          </div>
        </div>
        
        <!-- Temporary Disabled : Social Links -->
        <!--
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<i class="bi bi-link-45deg"></i>
                <p class="mb-0">https://mdbootstrap.com</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="bi bi-twitter" style="color: #55acee;"></i>
                <p class="mb-0">@mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="bi bi-instagram" style="color: #ac2bac;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="bi bi-facebook" style="color: #3b5998;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
            </ul>
          </div>
        </div>
        -->
        
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ post_user.first_name }} {{ post_user.last_name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ post_user.email }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Profession</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ post_user.profile.role }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Location</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ post_user.profile.location }}</p>
              </div>
            </div>
          </div>         
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                </p>
                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                <div class="progress rounded mb-2" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project Status
                </p>
                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                <div class="progress rounded" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                <div class="progress rounded mb-2" style="height: 5px;">
                  <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <hr />
		
		<div class="card-title">
			Recent Quotes
		</div>
		{% for post in object_list %}
		<div class="card">
			<div class="card-header" style="background:#FFDB58">
				
				<div class="d-flex">
					<div class="mr-auto">
						<!--User Header -->
						<a style="text-decoration:none" class="link-dark" href="{% url 'post:for_user' username=post.user.username %}">
						{% if post.user.profile.profile_image.url != '' %}
							<img src="{{ post.user.profile.profile_image.url }}" alt="avatar" class="rounded-circle shadow-4 img-fluid" style="object-fit:cover; width: 30px; height: 30px;"/>
						{% else %}
							<img src="{% static "images/default-avatar.png" %}" alt="avatar" class="rounded-circle shadow-4 img-fluid" style="object-fit:cover; width: 30px; height: 30px;"/>
						{% endif %}
						@{{ post.user.username }}
						</a>
						<small>in 
						
						{% if post.group.name %}
							<a style='color:red' href="{% url 'group:detail' slug=post.group.name|lower %}">{{ post.group.name }}</a>
						{% else %}
							<a style='color:red' href="">Open</a>
						{% endif %}

						</small>
					</div>
					{% if user.is_authenticated and post.user == user %}
						<div class="ml-auto">
							<a href="{% url 'posts:update' pk=post.pk %}">
								<i style="color: #212121" class="bi bi-pencil-square"></i>
							</a>
							<a href="{% url 'posts:delete' pk=post.pk %}">
								<i style="padding-left: 0.3em; color: #FF0000" class="bi bi-trash"></i>
							</a>
						</div>
					{% endif %}
				</div>
			</div>
			
			<div class="card-body">
				<ul class="">
					<p class="lt-base">
						{{ post.message }}
					</p>
				</ul>
				<div class="d-flex">
					<div class="mr-auto">
						<footer class="blockquote-footer">
							{% if post.author != '' %}
								{{ post.author }}
							{% else %}
								Unknown
							{% endif %}
							<!--{{ post.created_at }}-->
						</footer>
					</div>
					<div class="ml-auto">
						<footer class="">
							<!-- Eye Icon -™Views Count
							<p class="font-weight-light text-secondary" style="font-size:14px">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 18">
  							<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
  							<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
							</svg>
							3.6k</p>-->
								<a 
								style="padding: 0.5em; font-size: 0.4em; color: #25D366"
								id="share-wa"
								href="whatsapp://send?text={{ post.message }}"
								class="sharer button">
								<i class="fa fa-3x fa-whatsapp">
								</i>
							</a>
							<!--
							<a style="padding: 0.5em; font-size: 0.4em; color: #3b5998" href="" id="share-fb" class="sharer button"><i class="fa fa-3x fa-facebook-square"></i></a>
  						<a style="padding: 0.5em; font-size: 0.4em; color:#55acee;" href="#" id="share-tw" class="sharer button"><i class="fa fa-3x fa-twitter-square"></i></a>
							-->
							
						</footer>
					</div>
				</div>
			</div>
		</div>
		<br />
		{% endfor %}
	</div>
</section>


<!-- Script : Message Button -->
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#message-btn').click(function() {
			$('#MessageAlert').show('fade');
		});
		$('#message-btn').click(function() {
			$('#message-btn').hide('fade');
		});
	});
</script>	
		
		
		{% endblock %}
	{% endblock %}